name: tests

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unitTests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: "${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}"

      - name: Install dependencies
        run: npm ci

      - name: Run Jest tests
        run: npm run test:unit

  aiTests:
    runs-on: ubuntu-latest
    needs: unitTests
    steps:
      - uses: actions/checkout@v4

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: "${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}"

      - name: Install dependencies
        run: npm ci

      - name: Run AI tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_AI_SDK_TEST_API_KEY }}
        run: npm run test:ai
